<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cafe-Manager.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>942B44EB2618A5B900C169AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>942B45012618A5CB00C169AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>942B450C2618A5CB00C169AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
